.Navbar {
  height: 8vh;
  display: flex;
  align-items: center;
}

.Navbar-palette-name {
  background-color: tomato;
  padding: 0 10px;
  height: 100%;
}

.Navbar-palette-name a {
  text-decoration: none;
  color: black;
}

.Navbar-slider-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.Navbar-slider-level {
  margin-left: 1rem;
}

.Navbar-slider {
  width: 30%;
  margin-left: 1rem;
}

.rc-slider-rail {
  height: 6px;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-handle {
  background-color: darkgreen;
  border: none;
}

.Navbar-select {
  margin-left: auto;
  margin-right: 1rem;
}
